.app {
  background-color: var(--dark-grey-color);
  font-family: var(--font-base);
}

.bold-text {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--secondary-color);
}

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}